body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: serif;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.background-color-menu {
  background-color: #303030;
}
.bg-red {
  background-color: #aa0e1c;
}
.text-red {
  color: #aa0c1c;
}
.text-gray {
  color: #9c9c9c;
}
.text-green {
  color: #0eaa13;
}
.bg-grey {
  background-color: #f6f6f6;
}
.border-grey {
  border-color: #e2e2e2;
}
.text-grey {
  color: #646464;
}
.text-grey-100 {
  color: #979797;
}
#show_bg {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.733),
      rgba(0, 0, 0, 0.76)
    ),
    url("images/background.jpg");
  width: 100%;
  background-size: cover;
}
